#map {
    width: 800px;
    height: 600px;
}
.btn-wrap {
    padding: 10px;
    text-align: center;
}
.btn {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    background: #FFF;
    cursor: pointer;
    outline: none;
}
.btn:hover {
    background: #D3D3D3;
    transition: .75s;
}